body[data-controller='posts'] {

  .post {
    @include single-box-shadow($color: $off-black, $hoff: 0, $voff: 0, $blur: 5px);
    background:#fff; color:$off-black;
    h1 { font-size:1.15rem; letter-spacing:.5rem; margin-bottom:0; margin-top:0; text-align:center; text-transform:uppercase; }

    header { @include background-size(cover); background:$dark-gray image-url('blog-header.png'); background-position:50% 50%; border:1px solid #fff; padding:2rem 0;
      a { border:0;
        &, &:hover { color:#fff; }
        &:hover { border-bottom:1px solid; }
      }
    }
    section { padding:1rem 1.5rem;
      a, a:hover { color:$off-black; }
    }

    &.summary { margin-top:2.5rem;
      .more { margin-bottom:0; }
    }
  }

}
