body[data-action='team'] {

  section { text-align:center;
    h1 { font-size:2.75rem; line-height:1.25; margin:1.5rem 0 1rem; }
    h2 { font-size:1.5rem; letter-spacing:.1rem; margin:0 0 1.5rem; text-transform:uppercase;
      &:before, &:after { content:'\2014'; }
      @include respond-to(medium) { font-size:1.25rem; }
      @media only screen and (min-width: 40.063em) and (max-width: 64.063em) {
        &:before, &:after { content:''; }
      }
    }
    p { font-size:.95rem; line-height:1.75; margin-bottom:.75rem; }
    .definition { font-weight:700; }
  }

  .members { @include grid-row(); margin-top:2.5rem;
    section { margin-bottom:2.5rem; }

    @include respond-to(medium) { margin-top:5rem;
      section { @include grid-column(4); margin-bottom:0; }
    }
  }

  .avatar { @include border-radius(100%); border:10px solid #fff; display:inline-block;
    img { @include border-radius(100%); display:block; margin:0 auto; }
  }

}
