::selection { background:$primary-color; background:transparentize($primary-color, .7); color:#fff; }
::-moz-selection { background:$primary-color; background:transparentize($primary-color, .7); color:#fff; }

body, body > footer { background:$off-black; }
p { font-weight:100; }

// hack so that margin on child elements doesn't collapse
.body-wrap { padding-bottom:1px; }

// spinner
.loading-indicator { @include transition(background-color 0.2s ease-in-out 0); background-color:transparentize($primary-color, 1); cursor:wait; height:100%; position:fixed; text-align:center; width:100%; z-index:1;
  h1 { font-size:2.25rem; letter-spacing:.5rem; position:fixed; top:10%; width:100%; }
  .float { float:left; height:50%; margin-bottom:-#{32px/2}; }
  .indicator { color:#fff; clear:both; height:32px; position:relative; }
  .spinner { height:32px; margin:100px auto; position:relative; width:32px; }
  .cube1, .cube2 { @include animation(cubemove 1.8s infinite ease-in-out); background-color:#fff; height:10px; left:0; position:absolute; top:0; width:10px; }
  .cube2 { @include animation-delay(-0.9s); }
}

// Footer: GENERAL STYLES
body > footer { bottom:0; padding:$footer-padd $side-spacing; position:fixed; width:100%;
  a { @include simple-link(#fff); }

  .site-nav {
    a { font-size:.9rem; }
  }

  // Footer: SCREEN DEPENDENT
  .social-nav, .site-nav {
    ul { list-style-type:none; margin:0; text-align:center; }
    li { display:inline-block; margin-right:2rem;
      &:last-child { margin-right:0; }
    }
    @include respond-to(medium) {
      ul { @include inline-list; margin:0; }
      li { margin-right:0; }
    }
  }

  .social-nav { margin-bottom:$footer-padd;
    @include respond-to(medium) {
      margin-bottom:0;
      ul { clear:left; float:left;
        & > li:first-child { margin-left:0; } // OVERRIDE
      }
    }
  }

  .site-nav {
    @include respond-to(medium) {
      ul { clear:right; float:right; }
    }
  }
}
