body[data-layout='sub_page'] { background-color:$secondary-color; //background-image:image-url('bg.png'); background-position:center center; background-size:cover;

  h1, h2, h3, h4, h5, h6 { color:#fff; }

  & > .root-nav { @include background-size(cover); background:$dark-gray image-url('bg.png'); background-position:50% 100%;
    a { font-size:.75rem; letter-spacing:.25rem; text-transform:uppercase;
      &:hover { border-bottom:2px solid; }
    }
    .name a { letter-spacing:.5rem; }
  }

  & > main { @include grid-row(); color:#fff; margin-top:2rem; margin-bottom:6rem;
    .content-wrap { @include grid-column(12); }
    h1, h2, h3, h4, h5, h6 { color:#fff; }
    a { @include simple-link(#fff); border-bottom:1px solid;
      &:hover { border-bottom-style:dotted; }
    }
  }

  .content-wrap > header { text-align:center; margin-bottom: 2.5rem;
    h1 { border-bottom:1px solid; display:inline-block; font-size:2.25rem; letter-spacing:1rem; margin:1rem auto 2rem; padding:0 3rem 1.5rem; text-transform:uppercase; }
    @include respond-to(medium) { margin-bottom:5rem;
      h1 { padding:0 4rem 2rem; margin-bottom:3rem; }
    }
  }

  & > footer { background:$off-black; }
}
