@mixin standard-link($normal, $underline, $hover:false) {
  @include link-colors($normal, $hover); border-bottom:1px dotted $underline;

  &:focus { border:1px dashed; }
  &:hover { background:fade-out($underline, 0.75); border-bottom:1px solid; }
  &:active { position:relative; top:1px; }
}

//
// Placeholders
//

@mixin vertical-align($offset:0%) {
  @include translateY(-50% + $offset);
  position:relative;
  top:50%;
}

//
// Media Queries ++
//
@mixin respond-to($media) {
  @if $media == small {
    @include min-screen(486) { @content; }
  }
  @else if $media == medium {
    @include min-screen(621) { @content; }
  }
}
