::selection { background:$primary-color; background:transparentize($primary-color, .7); color:#fff; }
::-moz-selection { background:$primary-color; background:transparentize($primary-color, .7); color:#fff; }
